body {
}

#header-jumbotron{
    background-color: #000080;
}
#navbar {
    background-color: #d3d3d3;
    margin-right: 16px;
}

#header-jumbotron h2{
    margin-left: 40px;
    color: #d2691e;
    margin-top: 50px;
}